/* hide Dash menu bar */
/* .modebar{
      display: none !important;
} */

#intro-and-map {
  max-width: 800px;
}

.main-title {
  font-family: 'Montserrat', Helvetica;
}

.intro-text, .cb-dropdown {
  font-family: 'Raleway', Helvetica;
}

/* dropdown styling */
.cb-dropdown {
  max-width: 25%;
}

/* #time-period-dropdown {
   clear: none;
}

#metric-dropdown {
   clear: none;
} */
