.main-title {
  font-family: 'Montserrat', Helvetica;
}

.intro-text, #dropdown-div {
  font-family: 'Raleway', Helvetica;
}

/* .intro-text {
  max-width: 800px;
} */

#_dash-app-content {
  max-width: 800px;
}

#time-period-dropdown, #metric-dropdown {
  padding-bottom: 20px;
}

.dropdown-label {
  font-weight: bold;
}
